h1,h2,h3,h4,h5,h6,img,ul,body{
  margin: 0px;
  padding: 0px;
}
img{
  border: none;
}
a{
  text-decoration: none;
}
#container{
  width: 980px;
  margin: 0 auto;
  font-size: 10px;
}
#pagetop{
  min-height: 65px;
}
.indexlogo{
  width: 227px;
  height: 65px;
  float: left;
}
.topinfo{
  width: 360px;
  line-height: 65px;
  float: left;
}
.topnav{
  width: 500px;
}
.topnavlist{
  width: 500px;
}
.topnavlist ul{
  list-style-type: none;
  margin-top: 10px;
}
.topnavlist ul li{
  display: inline-block;
  color: #c0c0c0;
}
.topnavlist ul li a{
  text-decoration: none;
  padding:0 4px;
  color: #c0c0c0;
}
#Clock{
  color: #000;
}
#nav{ text-align: center}
#nav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#nav ul li{
  line-height: 36px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  color: #FFF;
}
#nav ul li a{
  text-decoration: none;
  color: #FFF;
  padding:0 10px ;
}
.sousuo{
  background: url("../image/top_2.gif");
  height: 32px;
  text-align: left;
  text-indent: 10px;
  position: relative;
}
.sousuo span a{
  color: #000;
}
#pagebody{
  /*min-height: 600px;*/
}
#bleft{
  width: 195px;
  /*min-height: 600px;*/
  float: left;
}
.userbox,.productbox,.pinpaibox,.hezuo{
  margin: 8px auto;
}
.userbox h3,.productbox h3,.pinpaibox h3,.hezuo h3{
  width: 195px;
  height: 30px;
  line-height: 30px;
  background: url("../image/la_4.gif");
  text-align: center;
  font-size: 16px;
  color: #FFF;
}
.userbox ul,.pinpaibox ul,.hezuo ul{
  padding-left: 20px;
  list-style: none;
  border: 1px solid #F00;
  border-top: none;
  padding-bottom: 5px;
}
.userbox ul li,.hezuo ul li{
  line-height: 30px;
  text-indent: 30px;
}
.userbox ul li a,.hezuo ul li a{
  text-decoration: none;
  color: #333;
}
.productbox .box{
  width: 160px;
  margin: 0 auto;
}
.productbox .box h4{
  color: #c00000;
  font-size: 14px;
}
.productbox .box ul{
  list-style-type: none;
  margin-bottom: 10px;
}
.productbox .box ul li{
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  cursor: pointer;
  border-bottom: 1px dotted #ccc;
}
.productbox .box ul li span{
  margin: 0px 10px;
}
.productbox .box ul li a{
  color: #5e5e5e;
}
/*Æ·ÅÆ*/
.pinpaibox ul li{
   display: inline;
   margin: 10px;
}
.pinpaibox ul li a img{
  width: 60px;
  height: 40px;
  border: 1px #ccc solid;
}

#bmiddle{
  width: 578px;
  min-height: 300px;
  float: left;
  margin:0 5px;
}
.productimg{
  margin: 2px auto;
}
.productimg h4{
  background: url("../image/ca_1.gif");
  height: 30px;
  line-height: 31px;
  text-indent: 30px;
  color: white;
  font-size: 14px;
}
.productimg ul{
  list-style-type: none;
  width: 578px;
  margin: 0 auto;
}
.productimg ul li{
  display: inline-block;
  margin: 2px 6px;
}
.productimg ul li div{
  text-align: center;
}
.productimg ul li .price{
  font-weight: bold;
  color: red;
}
.productimg ul li img{
  width: 100px;
  height: 100px;
}
.productimg .adv{
  height: 100px;
  margin: 10px 0;
  border: 1px solid red;
}
#pay{
  margin-top: 8px;
 background: #ccc;
  opacity: 0.8;
}
#pay h4{
  color: #5e5e5e;
}
#pay ul{
  padding: 0px;
  margin: 5px 1px;
  list-style-type: none;
}
#pay ul li{

  display: inline-block;
}
#pay ul li img{
  height: 30px;
}

#bright{
  width: 195px;
  min-height: 600px;
  float: left;
}
.rbox{
  margin: 8px auto;
}
.rbox h4{
  color: #FFF;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  background: url("../image/la_4.gif");
}
.rbox ul{
  list-style-type: none;
  border: 1px solid red;
  border-top: none;
  padding-left: 10px;
}
.rbox ul li{
  line-height: 25px;
  text-indent: 10px;
  background: url("../image/dot.gif") no-repeat center left;
}
.rbox ul li a{
  color: #333;
}
.kefu{
  border: 1px solid red;
  border-top: none;
  padding: 5px;
}
.kefu div{
  margin: 2px auto;
  line-height: 25px;
  color: #aaa;
}
.kefu div span{
  font-size: 12px;
  padding-left: 2px;
}
.kefu div span a{color: #aaa}
.fen{
  clear: both;
  min-height: 80px;
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 16px;
  border-bottom: 1px dotted #5e5e5e;
}
.brfen{
  border-bottom: none;
}
.fen_img{
  width: 50px;
  float: left;
  line-height: 80px;
}
.fen_img img{
  width: 50px;
  margin-top: 1px;
}
.fen_info{
  width: 120px;
  float: left;
  margin-left: 10px;
}
#pagefooter{
  min-height: 100px;
  clear: both;
  border: 1px solid #FF0000;
}
#footnav{
  background: url("../image/copy_line.gif");
  height: 126px;
}
#footnav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#footnav ul h4{
  font-weight: bold;
  font-size: 14px;
  color: #FF0000;
  text-align: left;
  margin-top: 10px;
}
#footnav ul .listnav{
  list-style-type: none;
  display: inline-block;
  width: 150px;
}
#footnav ul .listnav ul li{
  background: url("../image/dot.gif") center left no-repeat;
  text-align: left;
  list-style-type: none;
  line-height: 24px;
  text-indent: 10px;
}
#footnav ul .listnav ul li a{
  color: #5e5e5e;
}
#footinfo{
  text-align: center;
}
#footinfo div{
  line-height: 20px;
  text-align: center;
}
#footinfo div span{
  margin: 0 25px;
}